<%- include("../includes/head.ejs")%>
    <link rel="stylesheet" href="/css/main.css">
    <title>Add Product</title>
    <style>

    </style>
    </head>

    <body>
        <%- include("../includes/navigation.ejs")%>

            <main>
                <h1>My Products</h1>
                <% if(prods.length> 0) { %>
                    <div class='grid'>
                        <%for(let prod of prods) { %>
                            <p>
                                <%= prod.title %>
                            </p>
                            <%}%>
                    </div>
                    <% } %>
            </main>
            <%- include("../includes/end.ejs")%>